[defaults]
inventory = inventory/production.yml
remote_user = root
host_key_checking = False
gathering = smart
fact_caching = memory
timeout = 30
callbacks_enabled = ansible.builtin.default
result_format = yaml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
